<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:job="http://www.luckytiger.com/schema/framework/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.luckytiger.com/schema/framework/job
                           http://www.luckytiger.com/schema/framework/job/job.xsd ">
    <bean id="propertyConfigure" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>
                    classpath:application.properties
                </value>
                <value>
                    classpath:jdbc.properties
                </value>
            </list>
        </property>
    </bean>

    <bean id="myjob" class="com.xing.demo.bo.MyJob"/>
    <bean id="myjob2" class="com.xing.demo.bo.MyJob2"/>

    <job:simple id="job1" cron="0/5 * * * * ?" job-ref="myjob" disabled="false"/>
    <job:simple id="job2" cron="0/5 * * * * ?" job-ref="myjob2"/>

    <!--<bean id="elasticxClient" class="com.xing.middleware.framework.elasticx.client.ElasticxClient">-->
    <!--<constructor-arg name="servers">-->
    <!--<value>${elastic.servers}</value>-->
    <!--</constructor-arg>-->
    <!--<constructor-arg name="druidDataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="fdfsxClient" class="com.xing.middleware.framework.fdfsx.client.FdfsxClient">-->
    <!--<constructor-arg name="propsFilePath">-->
    <!--<value>${fdfs.propsFilePath}</value>-->
    <!--</constructor-arg>-->
    <!--<constructor-arg name="maxRetry">-->
    <!--<value>${fdfs.maxRetry}</value>-->
    <!--</constructor-arg>-->
    <!--</bean>-->

    <!--<bean id="producer" class="com.xing.middleware.framework.rocketx.client.Producer">-->
    <!--<constructor-arg name="producerGroup">-->
    <!--<value>${app.systemAlias}</value>-->
    <!--</constructor-arg>-->
    <!--<constructor-arg name="namesrvAddr">-->
    <!--<value>${rocketmq.namesrv}</value>-->
    <!--</constructor-arg>-->
    <!--</bean>-->

    <!--<bean id="consumer1" class="com.xing.middleware.framework.rocketx.client.Consumer">-->
    <!--<constructor-arg name="consumerGroup">-->
    <!--<value>${app.systemAlias}</value>-->
    <!--</constructor-arg>-->
    <!--<constructor-arg name="namesrvAddr">-->
    <!--<value>${rocketmq.namesrv}</value>-->
    <!--</constructor-arg>-->
    <!--<constructor-arg name="messageListener" ref="messageListenerOrderlyHandler"/>-->
    <!--</bean>-->

    <!--<bean id="messageListenerOrderlyHandler" class="com.xing.demo.bo.MessageListenerOrderlyHandler">-->
    <!--</bean>-->



</beans>